.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 15px 20px;
  background-color: #160066;
  color: white;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
}

.header nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin: 0 10px;
}

.header .cart-icon {
  position: relative;
}

.header .cart-icon img {
  width: 30px;
  cursor: pointer;
}

.cart-icon #cartItemCount {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 10px;
  top: -5px;
  left: 20px;
}
